# .gitignore

# Игнорируем виртуальное окружение
.venv/
venv/
env/

# Игнорируем файл с секретами
.env

# Игнорируем базу данных SQLite (обычно не хранят в Git)
db.sqlite3

# Игнорируем кэш и другие временные файлы Python/Django
__pycache__/
*.pyc
*.log
media/ # Если будут загружаемые файлы
static_cdn/ # Если будут собираться статические файлы

.idea/
